
body, html {
  height: 100%;
  margin: 0;
}
.bg {
  /* The image used */
  background-image: url("images/home.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.Home-button{
  position: absolute;
  top: 50%;
  left:50%;

}

.home-me-button {
color: black; !important;
text-transform: uppercase;
text-decoration: none;
background: #f8f1f1;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.home-me-button:hover {
background: #f8f1f1;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
